# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/
.qt_for_python/

# Project specific
profiles.json*
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db
